.section{
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 122px 0 115px;

	font-family: Helvetica-Bold, sans-serif;

	background: #EEE;

	h4 {
		letter-spacing: 3px;

		margin: 0 0 3px;
		padding-left: 5px;
		text-align: center;
		font-family: Roboto, sans-serif;
		font-size: 13px;
		text-transform: uppercase;
		color: var(--color-primary);
	}

	.slider{
		width: 100%;
		max-width: 1080px;
		&>div{
			&>div{
				margin-top: 0 !important;
			}
		}

		.slideContainer{
			display: flex;
			flex-direction: column;
			align-items: center;

			max-width: 600px;
			padding-bottom: 17px;

			h2{
				margin: 0;

				font-size: 32px !important;
				line-height: 42px !important;
				color: #222;
				letter-spacing: normal;
				margin-top: -5px;
				@media(min-width: 768px){
					height: 84px;
				}
			}


			p{
				margin-top: 21px;

				font-family: Helvetica-Bold, sans-serif;
				font-size: 18px;
				line-height: 32px;
				color: var(--body-text);
			}

			span{
				font-size: 15px;
				color: var(--body-text);
				letter-spacing:  -0.3px;;
			}

			@media(width <= 700px) {
				max-width: 450px;
			}

			@media(width <= 550px) {
				max-width: 350px;
			}

			@media(width <= 450px) {
				max-width: 300px;
			}
			
		}
	}

	button{
		width: 100%;
		max-width: max-content;
		margin: 19px auto 0;
		padding: 21px 54px 19px 62.5px;
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 3px;
	}
}