.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 40.5px;
	padding-bottom: 60px;

	background-image: url('/bitmap.jpg');
	background-repeat: no-repeat;
	background-position: 100% 45%;
	background-size: cover;

	.footerNav{
		display: flex;
		justify-content: space-between;

		width: 100%;
		max-width: 810px;
		margin-left: -50px;

		color: var(--color-white);

		.footerNavItem {
			h4{
				margin-top: 30px;
				margin-bottom: 22px;

				font-family: Helvetica-Bold,sans-serif;
				font-size: 24px;
				line-height: 42px;
			}

			ul{
				margin: 24px 0 0;
				padding: 0;
				
				li{
					letter-spacing: 3px;

					font-size: 13px;
					line-height: 28.97px;
					text-transform: uppercase;
					list-style: none;
					

					a:not([target='_blank']){
						color: var(--color-white);
						transition: color .5s ease-in-out;
						opacity: 0.8;
						&::after{
							content: '';

							display: block;

							width: 0%;
							height: 1px;

							background-color: var(--color-primary);

							transition: width .5s ease-in-out;
						}

						&:hover{
							color: var(--color-primary);

							&::after{
								content: '';
								display: block;
								width: 100%;
								height: 1px;
							}
						}
					}
				}
			}

			&:last-child{
				ul{
					margin-top: 31px;
				}
			}

			@media(width >= 768px) {
				&:nth-child(2){
					h4{
						margin-left: -2px;
					}
					margin-left: -71px;
				}

				&:nth-child(3){
					h4{
						margin-left: -2px;
					}
					margin-left: -25px;
				}
				&:nth-child(4){
					h4{
						margin-left: 0.5px;
					}
				}
			}
		}

		@media(width <= 1280px) {
			margin-left: 0;
			padding: 0 16px;
		}

		@media(width <= 650px) {
			flex-direction: column;
		}
	}

	.footerCopyright{
		width: 100%;
		max-width: 368px;
		margin-top: 38px;
		margin-bottom: 55px;

		font-size: 13px;
		line-height: 26px;
		color: #707070;
		text-align: center;
	}
	
	.footerBottomLine{
		width: 100%;
		max-width: 1300px;
		height: 1px;
		background: #707070;
	}
}