.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 61px 0 100px;

	h3{
		margin-top: 30px;
		font-family: Helvetica-Bold, sans-serif;
		font-size: 32px;
		text-align: center;
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		justify-content: center;

		margin-top: 2px;

		img{
			cursor: pointer;
		}
	}

	button{
		min-width: 185px;
		margin-top: 39px;
		padding: 21px 0;
	}
}